.lmj-footer {
	color: black;
	padding: 32px;
	border-top: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
}

.lmj-footer-elem {
	margin-bottom: 10px;
}

.lmj-footer-input, ::placeholder {
  width: 300px;
  background-color: #78e066;
  font-size: 1.1rem;
  color: #333;
  padding: 3px 8px 3px 8px;
  margin: 5px 0 5px;
  border-radius: 5px;
}
